body {
    display: flex;
    justify-content: center;
    background-color: rgba(240,235,248,255);
}

.wrapper {
    display: inline-block;
    width: 600px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 50px;
    border: 1px solid rgba(206,206,206,255);
    border-radius: 7px;
}