body {
    display: flex;
    justify-content: center;
    background-color: rgba(240,235,248,255);
}

.wrapper {
    display: inline-block;
    width: 600px;
}

.title-field {
    font-size: 30px;
    color: blue;
    margin: 10px;
}

.question-box {
    padding: 10px 0px;
    padding-left: 10px;
    border: 1px solid rgba(206,206,206,255);
    border-radius: 7px;
    margin-top: 7px;
    background-color: white;
}

.answer-field {
    margin-top: 5px;
}

.button-submit {
    margin-top: 10px;
    float: right;
    padding: 10px 30px;
    background-color: rgba(92,51,174,255);
    border: none;
    color: white;
    border-radius: 5px;

}